.container_carrossel {
    margin-top: 1rem;
    position: relative;
    overflow: hidden;
}

.container_collapse {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
