.collapse {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    @media (max-width: 600px) {
        margin: 2rem 0;
    }
}

.collapse_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.collapse_description {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 600px) {
        width: 100%;

        text-align: center;
    }
    .title {
        font-size: 20px;
        font-weight: 800;
        color: #101828; //gray 6
    }
    .content {
        margin-top: 1rem;
        font-size: 16px;
        font-weight: 400;
        color: #101828; //gray 6
    }
}

.collapse_story {
    width: 20%;
    margin-left: 2rem;
    height: 16rem;

    @media (max-width: 600px) {
        width: 100%;
        margin-left: 0;
        margin-top: 1.5rem;

    }

}